.git
target
node_modules
web/react-console/node_modules
web/react-console/dist
**/.DS_Store
**/*.log
docker-compose.override.yml
artifacts
.terraform
**/.terraform
*.tfstate
*.tfstate.*
*.tfplan
.env
.env.*
*.pem
*.key
*.p12
.tlacache
states
tools/tla2tools.jar
tools/tlaps
